/app/data/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
*node_modules*
*build*
*bundle-dev.js*
*bundle-prod.js*
*.DS_Store*
web/assetic/
web/css/
web/js/
