
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>{% block title %}Farmacita{% endblock %}</title>

    {% stylesheets "@base_css" output="css/base.css" %}
         <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen,projection">
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

    <header>
      <nav class="top-nav">
        <div class="container">
          <div class="row">
            <div class="nav-wrapper col offset-s1 s11"><a class="page-title">Title Here</a></div>
          </div>
        </div>
      </nav>

      <ul id="nav-mobile" class="side-nav fixed" style="left: 0px;">
        <li class="logo">
          <a id="logo-container" href="#" class="rand-logo">
            <object height=30 id="front-page-logo" type="image/svg+xml" data="/bundles/farmaapp/images/materialize.svg">Your browser does not support SVG</object>
          </a>
        </li>
        <li class="bold"><a href="about.html" class="waves-effect waves-teal">About</a></li>
        <li class="bold active"><a href="getting-started.html" class="waves-effect waves-teal">Getting Started</a></li>
        <li class="bold"><a href="http://materializecss.com/mobile.html" class="waves-effect waves-teal">Mobile</a></li>
        <li class="bold"><a href="showcase.html" class="waves-effect waves-teal">Showcase</a></li>
      </ul>
    </header>

    <main>
      <div class="section" id="index-banner">
        <div class="container">
          <div class="row">
            <div class="col offset-s1 s11">
              <h1 class="header center-on-small-only">Getting Started</h1>
              <h4 class="light red-text text-lighten-4 center-on-small-only">Learn how to easily start using Materialize in your website.</h4>
            </div>
          </div>
        </div>
      </div>
    </main>

    <style type="text/css">
      .side-nav .logo {
        text-align: center;
        /*margin-top: 32px;*/
        /*margin-bottom: 16px;*/
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
      }

      li.logo:hover {
        background-color: transparent;
      }

      #logo-container {
        /*height: 57px;
        margin-bottom: 32px;*/
        height: 54px;
        /*margin-bottom: 10px;*/
      }
    </style>

    {% block javascripts %}{% endblock %}
  </body>
</html>