.side-nav .logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

li.logo:hover {
    background-color: transparent;
}

#logo-container {
    height: 54px;
}

#nav-mobile {
    left: 0px;
}

#nav-mobile.side-nav li {
    padding: 0;
}

#nav-mobile.side-nav.fixed a {
    padding: 0 30px;
}


#nav-mobile.side-nav.fixed a.active {
    background-color: #ddd;
}

#nav-mobile .logo {
    position: relative;
}

#nav-mobile .progress {
    position: absolute;
    bottom: -15px;
}

#lean-overlay {
    display: block;
    opacity: 0.5;
}

.modal {
    display: block;
    opacity: 1;
    top: 10%;
}

a.disabled {
    color: #9F9F9F !important;
    cursor: default !important;
}

td {
    border-bottom: 1px solid #d0d0d0;
}

.helper-text {
    color: #bbb;
}

.urgent {
    color: #F44336;
}

.notice {
    color: #009688;
}